<!DOCTYPE html>
<html>


    <head>
        <title>Main Page</title>
        <link rel="icon" href="./img/icon.png">
        <link rel="stylesheet" href="css/style.css">
        
    </head>
    <body>

        <div class="main-content">
            {{>header}}
            <center>
            <p>Use this site to get your weather!</p>

            <form action="">
                <input placeholder="location">
                <button>Search</button>
            </form>
            <p id="message-1"></p>
            <p id="message-2"></p>
            </center>
        </div>
        
        {{>footer}}
    </body>

    <script src ="js/app.js"> </script>
</html>
 